workflow.json
{
  "name": "WhatsApp Perplexity AI Bot",
  "meta": {
    "description": "Complete WhatsApp bot using Twilio webhook integration"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "8a6c4c0a-5b9d-4c8e-9f2a-1b3c5d7e9f0a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{$json.Body}}"
            },
            {
              "name": "from",
              "value": "={{$json.From}}"
            },
            {
              "name": "to", 
              "value": "={{$json.To}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$node['Extract Message'].json.message}}\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "2c3d4e5f-6a7b-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Perplexity AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ai_response",
              "value": "={{$json.choices[0].message.content}}"
            },
            {
              "name": "reply_to",
              "value": "={{$node['Extract Message'].json.from}}"
            },
            {
              "name": "from_number",
              "value": "={{$node['Extract Message'].json.to}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d4e5f6a-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACd202d09b2770b4d4d2af553731937cb6/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "basicAuth": {
          "user": "ACd202d09b2770b4d4d2af553731937cb6",
          "password": "0d3c6f98de8f5f03fa5b721a9440df0d"
        },
        "sendBody": true,
        "bodyContentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{$node['Format Response'].json.from_number}}"
            },
            {
              "name": "To", 
              "value": "={{$node['Format Response'].json.reply_to}}"
            },
            {
              "name": "Body",
              "value": "={{$node['Format Response'].json.ai_response}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e5f6a7b-8c9d-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Perplexity AI",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Perplexity AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "whatsapp-perplexity-bot"
}